<!DOCTYPE html>
<html>
    <head>
        <title>NicePferd - Reader</title>
        <meta charset="UTF-8">
        <link rel="icon" type="image/png" href="{{ url_for('static',filename='src/logo.png') }}" />
        <link href="{{ url_for('static',filename='styles/main.css') }}" rel="stylesheet">
        <link href="{{ url_for('static',filename='styles/scanreader.css') }}" rel="stylesheet">
        <link href="{{ url_for('static',filename='styles/main.dark.css') }}" rel="stylesheet">
    </head>
    <body>
        <i>{{ mangaid.split('!')[0] }} chapter {{ mangaid.split('!')[-1] }}</i><br/>
        <center>
            <a href="/"><button class="home"><img src="{{ url_for('static',filename='src/home.png') }}" + ></button></a>
        </center>
        <div class="entry-content">
            <div class="entry-content_wrap">
                <div class="read-container">
                    <div class="reading-content">
                        <center>
                            <div id="scans">
                                {% for i in range(data | length) %}
                                <div class="page-break no-gaps"><img class="wp-manga-chapter-img" id="image-{{i}}" src="{{data[i]}}" class="wp-manga-chapter-img"></div>
                                {% endfor %}
                            </div>
                        </center>
                    </div>
                </div>
            </div>
        </div>
        <center>
            <a href="/"><button class="home"><img src="{{ url_for('static',filename='src/home.png') }}" + ></button></a>
            <a href="/scanreader?chapter={{ mangaid.split('!')[0] }}!{{ (mangaid.split('!')[-1] | int )+1 }}"><button style="color:black">> chapter {{ (mangaid.split('!')[-1] | int ) +1 }}</button></a>
        </center><br/>

        <i>{{ mangaid.split('!')[0] }} chapter {{ mangaid.split('!')[-1] }}</i>
    </body>
    <script id="AJAX" language="JavaScript" type="text/javascript" src="{{ url_for('static',filename='js/jquery.min.js') }}"></script>
    <script id="scanreaderScript" language="JavaScript" type="text/javascript" src="{{ url_for('static',filename='js/scanreader.js') }}"></script>
    <script id="mainScript" language="JavaScript" type="text/javascript" src="{{ url_for('static',filename='js/main.js') }}"></script>
</html>