.button-dark-mode {
    background-color: #20466e;
    color: #e7e7e7;
}
.header-dark-mode {
    background-color: #1f1a2b;
    color: #9c9c9c;
}

.dark-mode {
    background-color: #1f1a2b;
    color: #ddd;
}
.a-dark-mode {
    color:#88f;
}