#showmore {
    font-size: 0.75rem;
    color: #000;
    text-align: right;
    text-decoration: underline;
}

#addManga {
    font-size: 0.75rem;
    color: #000;
    text-align: right;
    text-decoration: underline;
}

#addSerie {
    text-align:left;
}

#moreOptions {
    display: none;
}

#firstUrlSegment {
    width: 50%
}

#chapterStart {
    width: 4%
}

#chapterEnd {
    width: 4%
}

#lastUrlSegment {
    width: 20%
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

input {
    width: 50%
}

:root {
    overflow-y: scroll;
    scrollbar-color: lightgrey white;
    scrollbar-width: thin;
}

progress:before {
    content: attr(data-label);
    font-size: 0.8em;
    vertical-align: 0;
    position:absolute;
    left:0;
    right:0;
}

section {
		position : absolute ;
		width : 80%;
		height : 100%;
		top : 10%;
		left : 20% ;
}

progress {
    width: 60%;
    height: 1.6rem;
    text-align: center;
    visibility: hidden;
}

button {
    max-width: 320px;
    padding: 4px 20px;
    background-color: #007AFF;
    color: white;
    border-radius: 6px;
    text-decoration: none;
    font-size: 18px;
    text-align: center;
}

body {
    font-size: 100%;
    line-height: 1.5;
    color: #888888;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-weight: 2000;
    text-align: left;
    font-size: 20px;
    line-height: 1.4;
	color:dark;
	background-color : #f6f6f6;
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}

:root {
    --madara-main-color: #eb3349;
}




.c-blog-post .entry-content .entry-content_wrap .read-container .no-gaps img {
    margin: 0 auto;
        margin-top: 0px;
        margin-right: auto;
        margin-bottom: 0px;
        margin-left: auto;
}
.c-blog-post .entry-content .entry-content_wrap .read-container img {
    cursor: pointer;
}
.c-blog-post .entry-content .entry-content_wrap .read-container img {
    margin: 0 auto 20px;
}
img {
    max-width: 100%;
    height: auto;
}
img {
    border-style: none;
}
img {
    vertical-align: middle;
    border-style: none;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*, ::after, ::before {
    box-sizing: border-box;
}
.c-blog-post .entry-content .entry-content_wrap .read-container {
    text-align: center;
}
.c-blog-post .entry-content .entry-content_wrap {
    line-height: 2.14285714;
}
.c-blog-post .entry-content {
    color: #333;
}
