.button-dark-mode {
    background-color: #4568ee;
    color: #e7e7e7;
}
.header-dark-mode {
    background-color: #2e2d31;
    color: #9c9c9c;
}

.dark-mode {
    background-color: #2e2d31;
    color: #ddd;
}
.a-dark-mode {
    color:#88f;
}